<table id="ShowsTbl" class="display table table-striped" style="width: 100%;">
    <thead class="HeadTbl" style="border-bottom: transparent;">
        <tr>
            <th scope="col">Show ID</th>
            <th scope="col">Activity</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Actions</th>
            <th></th>
        </tr>
    </thead>
</table>


<script>
    debugger
    GetShowTableList();
    //?ShowID="+m_ShowID+"&startDate="+m_startdate+"&endDate="+m_enddate
        function GetShowTableList(){
        debugger
         showtable = $('#ShowsTbl').DataTable({
            "dom": '<"top"fl><"position-relative"tr><"bottom"ip><"clear">',
            "bLengthChange": true,
            "pageLength": 10,
            "lengthChange": false,
            "processing": true,
            "searching": true,
            "destroy": true,
            "paging": true,
            "info": true,
            "bSort": false,
            "scrollX": false,
            "language": {
                "loadingRecords": "Loading...",
                "processing": "Processing...",
                "paginate": {
                    "previous": "<",
                    "next": ">"
                },
            },
             "ajax": {
                    "url": "/shows/GetShowList",
                    "type": "POST",
                },
                "columns": [
                {
                    "data": "showID",
                    "orderable": true,
                    "visible": false,
                },
                {
                    "data": "showName",
                    "orderable": true,
                },
                {
                    "data": "startDate",
            "visible": true,
                    "orderable": true,
                    "render": function ( data, type, row, meta ) {
                       if(data != null && data != '' && data != undefined){
                             return moment(data).add(1, 'hours').format('DD MMM, YYYY HH:mm');
                        }
                        else{
                            return '';
                        }
                    }
                },
                {
                    "data": "endDate",
            "visible": true,
                    "orderable": true,
                    "render": function (data, type, row, meta ) {
                        if(data != null && data != '' && data != undefined){
                            return moment(data).add(1, 'hours').format('DD MMM, YYYY HH:mm');
                        }
                        else{
                            return '';
                        }
                    }
                },
                {
                    "data": null,
                    "orderable": false,
                    "fnCreatedCell": function(nTd, sData, oData, iRow, iCol){
                        var startBtn = '';
                        var stopBtn = '';

                        var hasStartDate = oData.startDate != null && oData.startDate != '' && oData.startDate != undefined;
                        var hasEndDate = oData.endDate != null && oData.endDate != '' && oData.endDate != undefined;

                        // Show Start button if StartDate is null OR both StartDate and EndDate are populated
                        if(!hasStartDate || (hasStartDate && hasEndDate)){
                            startBtn = '<button class="btn btn-success btn-sm" style="margin-right:10px;" onclick="StartShow('+oData.showID+')">Start</button>';
                        }

                        // Show Stop button only if StartDate is set and EndDate is null
                        if(hasStartDate && !hasEndDate){
                            stopBtn = '<button class="btn btn-danger btn-sm" onclick="StopShow('+oData.showID+')">Stop</button>';
                        }

                        var htmldata = '<div class="d-flex justify-content-start">' + startBtn + stopBtn + '</div>';
                        $(nTd).html(htmldata);
                    }
                },
                {
                    "data": null,
                    "fnCreatedCell": function(nTd, sData, oData, iRow, iCol){
                          var htmldata='<div class="d-flex justify-content-end CursrPntr">'+
                                         '<div class="d-none">'
                                         +'<img src="/Images/TrashIcon.svg" style="margin-right:15px;" />'
                                         +'</div>'
                                         +'<div class="CursrPntr" onclick="GetShowsModal('+oData.showID+')">'
                                         +'<img src="/Images/EditIcon.svg" style="margin-right:15px;" />'
                                         +'</div>'
                                         +'<a href="/shows/ShowDetail?showID='+oData.showID+'">'
                                         +'<img src="/Images/DetailIcon.svg" class="" />'
                                         +'</a>'
                                         +'</div>';
                        $(nTd).html(htmldata);
                        }
                }


            ],
        });
        $('.dataTables_filter').addClass('d-none');
    }

    function StartShow(showID) {
        if(confirm('Are you sure you want to start this show?')) {
            $.ajax({
                url: '/shows/StartShow',
                type: 'POST',
                data: { showID: showID },
                success: function(response) {
                    if(response.success) {
                        showtable.ajax.reload(null, false);
                        alert('Show started successfully!');
                    } else {
                        alert('Error starting show: ' + response.message);
                    }
                },
                error: function() {
                    alert('Error starting show. Please try again.');
                }
            });
        }
    }

    function StopShow(showID) {
        if(confirm('Are you sure you want to stop this show?')) {
            $.ajax({
                url: '/shows/StopShow',
                type: 'POST',
                data: { showID: showID },
                success: function(response) {
                    if(response.success) {
                        showtable.ajax.reload(null, false);
                        alert('Show stopped successfully!');
                    } else {
                        alert('Error stopping show: ' + response.message);
                    }
                },
                error: function() {
                    alert('Error stopping show. Please try again.');
                }
            });
        }
    }

</script>